In [1]:
import pandas as pd

In [2]:
customers = pd.read_json('customers.json')
customers.head()

   id                                       name                       email
0   1     {'first': 'Monique', 'last': 'Taylor'}
1   2  {'first': 'Brittany', 'last': 'Reynolds'}   alexanderlong@example.com
2   3     {'first': 'Michael', 'last': 'Norman'}    jacksonlaura@example.com
3   4                             Karen Kelley       fordmichael@example.org
4   5       {'first': 'Adrian', 'last': 'Berry'}  angelrodriguez@example.com

In [3]:
customers.isnull().sum()

id       0
name     0
email    0
dtype: int64

In [4]:
customers.dtypes

id        int64
name     object
email    object
dtype: object

In [5]:
customers['name'].apply(type).value_counts()

name
<class 'str'>     143
<class 'dict'>     57
Name: count, dtype: int64

In [6]:
customers['email'].apply(type).value_counts()

email
<class 'str'>    200
Name: count, dtype: int64

In [8]:
customers['email'].isnull().sum()

np.int64(0)

In [ ]:
def normalize_name(name):
    if isinstance(name, str):
        return name.strip()
    elif isinstance(name, dict):
        first = name.get('first').strip()
        last = name.get('last').strip()
        return f"{first} {last}".strip()
    else:
        return " "

In [10]:
customers['name']= customers['name'].apply(normalize_name)
customers['name'].head()

0       Monique Taylor
1    Brittany Reynolds
2       Michael Norman
3         Karen Kelley
4         Adrian Berry
Name: name, dtype: object

In [11]:
customers['email'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 200 entries, 0 to 199
Series name: email
Non-Null Count  Dtype
--------------  -----
200 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

In [13]:
customers['email'] = customers['email'].astype(str).str.strip()
customers = customers[customers['email'].notna() & (customers['email'] != "")]
customers.head(5)

   id               name                         email
1   2  Brittany Reynolds     alexanderlong@example.com
2   3     Michael Norman      jacksonlaura@example.com
3   4       Karen Kelley       fordmichael@example.org
4   5       Adrian Berry    angelrodriguez@example.com
5   6     Kathryn Holden  kimberlychambers@example.com

In [15]:
customers.dtypes

id        int64
name     object
email    object
dtype: object

In [17]:
cleaned_json = customers[['id','name','email']]

In [ ]:
cleaned_json.to_csv('cleaned_customers_json.csv', index=False)

In [23]:
cleaned_json.to_json('cleaned_customers_json.json',index=False)